.modal {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //text-align: center;
  color: #000;
}

input[placeholder], [placeholder], *[placeholder] {
  color: pink;
}

input {
  border: 1px solid #ccc;
}
