$badge-primary: darken(#428bca, 6.5%);
$badge-success: #5cb85c;
$badge-info: #5bc0de;
$badge-warning: #f0ad4e;
$badge-danger: #d9534f;
$badge-default: gray;

$badge-lg: 20px;
$badge-mid: 15px;
$badge-sm: 10px;

.info {
  background-color: $badge-info;
}

.warning {
  background-color: $badge-warning;
}

.success {
  background-color: $badge-success;
}

.default {
  background-color: $badge-default;
}

.primary {
  background-color: $badge-primary;
}

.danger {
  background-color: $badge-danger;
}

.lg {
  font-size: $badge-lg;
}

.mid {
  font-size: $badge-mid;
}

.sm {
  font-size: $badge-sm;
}

