.active{
  border-color: deepskyblue;
  color: deepskyblue;
}

span,button{
  margin-left: 0;
  padding-left: 0;
  background:none;
  color: #555;
  padding: 3px 15px 3px 15px;
  text-align: center;
  border: 1px solid #ccc;
  border-right:none;
  outline: none;
  &:nth-child(1){
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &:nth-last-child(1){
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-right:1px solid #ccc;
  }
  &:hover{
    background-color: #eee;
  }

}
.active{
  background-color: #eee;
}
